priority -40

global !p
import sniphpets

def method_visibility(m):
	if m == 'o':
		return 'protected'
	elif m == 'i':
		return 'private'

	return 'public'
endglobal

snippet "c(u|o|i)?" "Constructor" br
`!p snip.rv = method_visibility(match.group(1))` function __construct(${2})
{
}
endsnippet
